:root {
  --color-primary: hotpink;
  --box-shadow: 2px 2px 0px #aaa;
  --box-shadow-active: 1px 1px 0px #aaa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  max-width: 400px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

fieldset {
  margin: 10px 0;
  display: grid;
  justify-items: start;
  gap: 10px;
}

button {
  margin-top: 0.5rem;
  padding: 0.4rem;
  border: none;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.1rem;
  box-shadow: var(--box-shadow);
  width: 100%;
}
button:active {
  box-shadow: var(--box-shadow-active);
  position: relative;
  top: 1px;
  left: 1px;
}

legend {
  background-color: black;
  color: white;
  padding: 0.4rem;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

textarea {
  width: 100%;
}

input[type="number"],
select {
  min-width: 200px;
  padding: 0.2rem;
}
